<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>node</servlet-name>
        <servlet-class>com.github.terma.m.server.NodeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>node</servlet-name>
        <url-pattern>/node</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>data</servlet-name>
        <servlet-class>com.github.terma.m.server.DataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>data-sum</servlet-name>
        <servlet-class>com.github.terma.m.server.SumDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>data-sum</servlet-name>
        <url-pattern>/data/sum</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>clear</servlet-name>
        <servlet-class>com.github.terma.m.server.ClearServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>clear</servlet-name>
        <url-pattern>/data/clear</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>config</servlet-name>
        <servlet-class>com.github.terma.m.server.ConfigServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>config</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>status</servlet-name>
        <servlet-class>com.github.terma.m.server.StatusServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>status</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>nodes-restart</servlet-name>
        <servlet-class>com.github.terma.m.server.NodesRestartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>nodes-restart</servlet-name>
        <url-pattern>nodes/restart</url-pattern>
    </servlet-mapping>
    
    <listener>
        <listener-class>com.github.terma.m.server.ContextListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>